{% extends 'base.html' %}

{% block title %}
{{ object.title }} - {{ block.super }}
{% endblock %}

{% block main %}
<h1>{{ object }}</h1>
<p class="lead">
  {{ object.plot }}
</p>
<div>
  <ul class="movie-image list-inline">
    {% for i in object.movieimage_set.all %}
    <li class="list-inline-item">
      <img src="{{ i.image.url }}">
    </li>
    {% endfor %}
  </ul>
  <h2>Director</h2>
  <p>
    {{ object.director }}
  </p>
  <h2>Written by:</h2>
  <ul>
    {% for writer in object.writers.all %}
    <li>
      {{ writer }}
    </li>
    {% endfor %}
  </ul>
  <h2>Actors</h2>
  <ul>
    {% for role in object.role_set.all %}
    <li>
      <a href="{% url 'core:PersonDetail' pk=role.person.id %}">
        {{ role.person }}: {{ role.name}}
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}


{% block sidebar %}
<div>
  This movie is rated:
  <span class="badge badge-primary">
    {{ object.get_rating_display }}
  </span>
</div>
{% if image_form %}
<div>
  <h2>Upload New Image</h2>
  <form method="post" enctype="multipart/form-data" action="{% url 'core:MovieImageUpload' movie_id=object.id %}">
    {% csrf_token %}
    {{ image_form.as_p }}
    <p>
      <button class="btn btn-primary">
        Upload
      </button>
    </p>
  </form>
</div>
{% endif %}
<div>
  <h2>
    Score: {{ object.score|default_if_none:"TBD" }}
  </h2>
</div>
<div>
  {% if vote_form %}
  <form method="POST" action="{{ vote_form_url }}">
    {% csrf_token %}
    {{ vote_form.as_p }}
    <button class="btn btn-primary">
      Vote
    </button>
  </form>
  {% else %}
  <p>Please Log in to Vote</p>
  {% endif %}
</div>
{% endblock %}