{% extends 'base.html' %}

{% block title %}
<title>Top 10 Movies</title>
{% endblock %}

{% block main %}
<h1>Top 10 Movies</h1>
<ol>
    {% for movies in object_list %}
    <li>
        <a href="{% url 'c
        
        ore:MovieDetail' pk=movie.id %}">
            {{ movie }}
        </a>
    </li>
    {% endfor }
</ol>
{% endblock %}