{% extends 'base.html' %}

{% block title %}
Login
{% endblock %}

{% block main %}
<h2>Thank you</h2>
<p>Without you community driven sites like this wouldn't be the same.</p>
<p>We look forward to seeing you again.</p>
{% endblock %}